body {
  font-family: arial; }

h1 {
  text-align: center; }

.contenedorInterior {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center; }

.cuadro {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  display: table; }

.contenedor {
  position: relative;
  right: 50%; }

.a {
  background-color: blue;
  right: 200px;
  top: 230px; }

.b {
  background-color: red;
  right: 160px;
  top: 190px;
  z-index: 3; }

.c {
  background-color: green;
  right: 120px;
  top: 150px; }

.d {
  background-color: pink;
  right: 80px;
  top: 110px; }

.e {
  background-color: purple;
  right: 40px;
  top: 70px; }

.f {
  background-color: orange;
  right: 0px;
  top: 30px;
  z-index: 3; }

.g {
  background-color: yellow;
  right: -40px;
  top: -10px; }
